/* 마이페이지 버튼 css */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border-radius: 30px;
    width:40px;
    height:40px;
    border:none;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    padding-right:300px
  }
  
  .dropdown-content {
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: rgba(112, 255, 112, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(112, 255, 112, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:royalblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: powderblue;
      border:none;
      border-radius: 20px;
    }
  
  .dropdown:hover .dropdown-content {
      display: block;
      border:none;
      border-radius: 20px;;
    }
  
  .dropdown:hover .dropbtn {
      background-color: #3e8e41;
      border:none
    }

/* 메뉴판 드롭다운설정 css */
.navbar_sub{
    position: absolute;
    background-color: rgb(49, 99, 247,0.66);
    color:white;
    display: none;
    width:130px;
    /* transition: all 0.15s ease-in; */
    border-radius: 20px;
    list-style-type: none;
    text-align: center;
}
.navbar_sub >li>a{
    text-align: center;
 font-size:15px;
 margin-right: 23px;
}

.navbar_menu>li{
    float:left;
    position: relative;
}
.navbar_menu>li>a{
    display: block;
    padding :8px 16px;
    text-align: center;
}
.navbar_menu > li:hover .navbar_sub{
    display: block;
}


.navbar_menu li:hover{
    animation: menumove 0.5s infinite alternate;
    border-radius: 4px;
    opacity: 1;
    visibility: visible
}


/* body 부분 */
body{
    margin:0px;
    padding:0px;
    font-family : 'Do Hyeon';
    height:100%
}

/* footer 부분 추가 */
#footer{
    height:50px;
    position: absolute;
    bottom:0px;
    width:100%;
    height:2.5rem;
}
#p{
    position: relative;
    left:200px;
}

#page-container {
    position: relative;
    min-height: 100px;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

a{
    text-decoration: none;
    color: white;
}
.navbar{
    margin-top: 0px;
    height:100px;
    position: sticky;
    top: 0px;
    display:flex;
    justify-content : space-between;
    align-items:center;
    /* padding :8px 12px; */
    background-image: url("https://blog.hmgjournal.com/images/contents/article/20161208-Reissue-jejuhaevichi-winter-01.jpg")
    ;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1;
}

.navbar_logo{
    font-size:24px;
    color:white;
    padding-left:70px ;
}

.navbar_logo i{
    color:beige;
    padding-right:6px

}

.navbar_menu{
    display:flex;
    list-style: none;
    padding-right:300px;
    margin:0;
    padding:0;

}


.navbar_menu li{
    padding : 8px 12px;
    color:beige;
    font-size:20px;

}

.navbar_icons{
    padding-right: 30px;
    color:beige;
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    font-size:40px;
}
.navbar_icons li{
    padding : 8px 12px;
}





@keyframes menumove{
    from{
        transform : translateX(1.6px);
        color:mediumturquoise;
    }
    to{
        transform : translateX(-1.6px);
        color:limegreen;
        /* background-color: cornflowerblue; */
    }
}

