

#input{
    width :500px;
    justify-content: center;
    position: absolute;
    left:750px;
    top:120px;
    height:700px;
    
    
}
#input fieldset{
    position: absolute;
    left: 300px;
    width:500px;
    height:600px;
    font-weight: bold;
    font-size:18px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

#input ul {
    position: absolute;;
    justify-content: center;
    left:7%;
    top:10%;
}


#input ul li{
    list-style-type:none;
    margin:10px;
    font-size:16px;
    font-weight: bold;
    width:350px;
}

#input ul li input{
    width : 350px;
    height :20px;
    font-weight: bold;
    border-radius:7px;
    border : 1px solid gainsboro;

}

#require{
    position: absolute;
    top:8%;
    right:8%;
    font-size:16px;
}

input#submit{
    width:130px;
    height:40px;
    position:absolute;
    left:200px;
    top:580px;
    border: 0px;
    border-radius: 10px;
    background-color: rgba(231, 212, 36, 0.986); 
    color:black; padding: 5px;
    font-weight: bold;
    font-size:20px;

}
