@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
    font-family: 'Do Hyeon', sans-serif;
    margin: 0; padding:0; box-sizing:border-box;
}

/* body{
    font-family: 'Do Hyeon', sans-serif;
    display:flex;
    justify-content : center;
    align-items: center;
    height:100vh;
    background : url(../img/enrollback.jpg) no-repeat center;
    background-size : cover;
}

body ::before{
     content: "";
    position:  absolute;
    z-index: 1;
    top: 0; right: 0; left: 0; bottom: 0;
    background-color: rgba(0,0,0,.7);
}

.login-form h1{
    font-size:32px;color:#fff;
    text-align: center;
    margin-bottom: 60px;
} */

.mypage_img{
    background : url(../img/mypageimg.jpg) no-repeat center;
    justify-content : center;
    background-size : cover;
    height:200px;


}
h1{
    font-family: 'Do Hyeon', sans-serif;
}

#mypage-bar{
    /* border :3px solid blue; */
    position: absolute;
    top:370px;
    left:100px;
    width:200px;
    height:300px;
    display:inline-block;

}

#MypageFrm{
    /* border :3px solid yellow; */
    position: relative;
    left:110px;
    top:10px;
    width:400px;
    height:500px;
    display: inline-block;


}


#member-viewForm{
    position : relative; 
    left:460px;
    z-index: 2;
    top:50px;
    width:530px;
    height:550px;
    /* border :3px solid red; */

}
.int-area{width: 300px; position: relative;
margin-top:20px}

.int-area:first-child{
    margin-top:0;
}

#title{
    font-size: 35px;
    color:black;
    position: absolute;
    font-weight: bold;
    top:100px;
    left:100px;
}

th{
    color:yellowgreen;
    font-size:15px;
    font-weight: bold;
}


.int-area input{
    width: 100%;
    padding : 20px 10px 10px;
    background-color: transparent;
    border:none;
    border-bottom:1px solid #999;
    font-weight: bold;
    font-size: 15px; color:dodgerblue;
    outline: none;
}

.int-area label{
    position: absolute; left:10px; top:15px;
    font-size:15px; color:dodgerblue;
    font-weight: bold;
    transition : all .5s ease;
}

.int-area label.warning{
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}

@keyframes warning{

    0%{transform : translateX(-8px);}
    25%{transform : translateX(8px);}
    50%{transform : translateX(-8px);}
    75%{transform : translateX(8px);}

}

.int-area input:focus +label,
.int-area input:valid +label{
    top:-2px;
    font-size:13px; color:gray;
    font-weight: bold;
}

.btn-area{
    margin-top :30px;
    
}
.gender{
    padding-top: 13px;
}

.gender label{
    color: dodgerblue;
    font-weight: bold;
    font-size: 18px;
    padding : 5px;
}
#btn1{
    position: relative;
    top:70px;
    left:1000px;
    width:80px; height:35px;
    background : yellowgreen;
    color : #fff;
    font-size:13px;
    border:none;
    border-radius:8px;
    font-weight: bold;
    cursor:pointer;
    margin:0px;
}

#btn2{
    position: relative;
    top:10px;
    left:110px;
    width:150px; height:50px;
    background : red;
    color : #fff;
    font-size:20px;
    border:none;
    border-radius:10px;
    font-weight: bold;
    cursor:pointer;
    margin:5px;
}
#btn3{
    position: relative;
    left:110px;
    top:10px;
    width:100px ;height:50px;
    background : darkgray;
    color : #fff;
    font-size:20px;
    border:none;
    border-radius:10px;
    font-weight: bold;
    cursor:pointer;
    margin:5px;
}

.caption{
    margin-top : 20px;
    text-align : center;
}

.caption a {
    font-size :15px;
    color:#999;
  
}

#h2>a{
    color : dodgerblue;
}

#h2{
    color : beige;
    position: absolute;
    left: 50px;
    top:100px;
    font-size:30px;

}