
* {
    margin: 0; padding:0; box-sizing:border-box;
}

#title{
    height:50px;
    font-weight: bold; 
}
#h2{
    position: relative;
    top:10px;
    left:30px;
}

.memberList_img{
    background : url(../img/memberlistback.jpg) no-repeat center;
    justify-content : center;
    background-size : cover;
    height:200px;


}

section#memberList-container {
    text-align:center;
    /* border:1px solid red; */
    height:80%;
    align-items: center;
}
#tbl-member-container{
    position: relative;
    left:100px;

}
.tbl-member {
    width:90%;
    height:80%; 
    border-collapse: collapse;
    /* border:1px solid blue; */

}

thead,th,td{
    text-align: center;
    padding :5px;
    border-bottom: 1px solid grey;
}

thead{
    background-color: dodgerblue;
    color:white;
}

td{
    background-color: beige;
    padding: 7px;

}
section#memberList-container table#tbl-member th, table#tbl-member td {border:1px solid gray; padding:10px; }

/* 검색창에 대한 스타일 */
div#search-container {
    /* background-color: rgba(0, 188, 212, 0.3); */
    width:100%;
    height:60px;    
    padding-left: 20px;
    padding:10px;
}

#searchType{
    font-weight: bold;
    position: relative;
    left:0px;
    height: 45px;
    border-radius: 5px;
    
}
.search-btn{
    border-radius: 3px;
    font-weight: bold;
    height:43px;
    width:70px;
    background-color: slategrey;
    color:white;
    border:none;
} 

.search-input{
    border-radius: 5px;
    border:1px gray solid;
    height:43px;
    padding-left: 13px;
    
}
div#search-userId{display:inline-block;}
div#search-userName{display:none;}
div#search-gender{display:none;}
div#numPerpage-container{float:right;}
form#numperPageFrm{display:inline;}
#pageBar{
    padding: 10px;
}




